@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.logoSafra {
  padding: 15%;
  width: 70%;
  height: 70%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

legend {
  color: white;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 330px;
  height: 350px;
}

.register input,
.registerLogin input {
    padding: 7px;
    margin-bottom: 5px;
    margin-left: 10px; 
    border-radius: 5px;
}




/*Página em Construção*/
.containerPrincipal {
  top: 0;
  width: 100%;
  display: flex;
  padding: 70px 0;
  border-bottom: 2px solid #e3b15a; 
  background-color: #00003c;
}

.navAlert { 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoAlert { 
flex-grow: 1;
max-width: 100px;
}

.construcao {
  top: 0;
  width: 100%;
  display: flex;
  padding: 120px 0;
  background-color: #ffffff;
}

.paragrafoAlert { 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}