@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.logoSafra {
  padding: 5%;
  width: 75%;
  height: 75%;
}

form {
  align-items: center;
  height: 50%;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 500px;
  margin-top: -15%;
}

.register input, .registerLogin input {
  padding: 7px;
  width: 80%;
  height: 5%;
  margin-bottom: 5px;
  border-radius: 5px;
}

.btn {
  text-align: center;
  justify-content: center;
  padding: 11px;
  width: 85%;
  font-size: 15px;
  border-radius: 9px;
  background-color: #1E2044;
  margin-top: 36px;
  border-color: white;
  color: #ffffff;
}

.select {
  width: 85%;
  height: 35px;
}

@media (min-width:700px) and (max-width:900px) {
  .register {
    width: 500px;
    height: 700px;
    margin-top: -5;
  }
  .register input, .registerLogin input {
    padding: 7px;
    width: 80%;
  }
  .select {
    width: 84%;
    height: 50px;
  }
}
@media (min-width:900px) and (max-width:1500px) {

  .register {
    width: 500px;
    height: 700px;
  }
  .register input, 
  .registerLogin input {
    width: 90%;
  }
  .select {
    width: 94%;
    height: 52px;
  }
  .btn {
    width: 94%;
    height: 52px;
    font-size: 20px;
  }
}

/*Página em Construção*/

.containerPrincipal {
  top: 0;
  width: 100%;
  display: flex;
  padding: 70px 0;
  border-bottom: 2px solid #e3b15a;
  background-color: #00003c;
}

.navAlert {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoAlert {
  flex-grow: 1;
  max-width: 100px;
}

.construcao {
  top: 0;
  width: 100%;
  display: flex;
  padding: 120px 0;
  background-color: #ffffff;
}

.paragrafoAlert {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}