@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
* {
  margin: 0;
  padding: 0;
}

html, body, main {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.logoSafra {
  padding: 12%;
  width: 70%;
  height: 70%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

legend {
  color: white;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 350px;
}

.register input, .registerLogin input {
  width: 80%;
  padding: 10px;
  margin-bottom: 7px;
  border-radius: 9px;
}

.btn {
  justify-content: center;
  padding: 11px;
  width: 85%;
  font-weight: bold;
  font-size: 17px;
  border-radius: 9px;
  background-color: #1E2044;
  color: white;
  margin-top: 50px;
}

.select {
  justify-content: center;
  padding: 6px;
  width: 86%;
  height: 11%;
  border-radius: 5px;
}