.intro{
  text-align: center;
}

.recommendation-form{
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 75%;
  height: 50%;
  margin: 0 auto;
}

button{
  width: 100%;
    height: 60px;
    background-color: #00003c;
    margin-top: 8px;
}

@media (min-width:1000px){
  .recommendation-form{
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 70%;
    height: 50%;
    margin: 0 auto;
    font-size: 26px;
  }
}