.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50%;
  margin-right: 8%;
}

.title-feed {
  font-size: 35px;
  margin-top: 1vh;
  margin-left: 5vh;
  color: #00003c;
  font-weight: 100;
  text-align: left;
}

/*.titlleFeed {
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}*/


.filterSelect {
    margin-left: 2vh;
    height: 40px;
    width: 100%;
    margin-top: 25vh;
    display: flex;
    position: absolute;
    align-items: center;
}

@media (min-width:300px) and (max-width:699px) {
  .title-feed {
    font-size: 20px;
  }
}

@media (min-width:700px) and (max-width:900px) {
  .title-feed {
    font-size: 35px;
    margin-left: 1vh;
  }

  .filterSelect {
    margin-left: 15vh;
    height: 40px;
    width: 100%;
    margin-top: 33vh;
    display: flex;
    position: absolute;
    align-items: center;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content:right;
  }

}

@media (min-width:901px) and (max-width:1449px) {
  .title-feed {
    font-size: 30px;
  }
}

@media (min-width:1500px) {
  .title-feed {
    font-size: 30px;
  }
}